*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.loginScreen{
    position: relative;
    height: 120vh;
    background: url('https://wpassets.brainstation.io/app/uploads/2017/04/13100509/Netflix-Background.jpg') center no-repeat;
    background-size: cover;
}
.loginScreen-logo{
    position: fixed;
    left: 10px;
    width: 200px;
    object-fit: contain;
    padding-left: 20px;
    padding-top: 20px;
    cursor: pointer;
}
.loginScreen-button{
    position: fixed;
    right: 35px;
    top: 20px;
    padding: 10px 18px;
    font-size: 1rem;
    color: white;
    background-color: #e50914;
    cursor: pointer;
    font-weight: 400;
    border: none;
    border-radius: 3px;
}
.loginScreen-button:hover{
    background-color: #ae0811;
}
.loginScreen-gradient{
    width: 100%;
    z-index: 1;
    height: 120vh;
    background-color: rgba(0,0,0,0.4);
    background-image: linear-gradient(to top,rgba(0,0,0,0.8)0,rgba(0,0,0,0)60%,rgba(0,0,0,0.8)100%);
}
.loginScreen-body{
    z-index: 1;
    color: white;
    padding: 20px;
    position: absolute;
    top: 33%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    left: 0;
    right: 0;
    margin-top: -1.5%;
}
.first-slide > h1{
    font-size: 3.125rem;
    font-weight: 800;
    margin-bottom: 20px;
}
.first-slide > h2{
    font-size: 1.5rem;
    font-weight: 490;
    margin-bottom: 30px;
}
.first-slide > h3{
    font-size: 1.2rem;
    font-weight: 480;
}
.loginScreen-input{
    margin-top: 20px;
}
.loginScreen-input > form > input{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 150px;
    padding-left: 15px;
    outline-width: 0;
    height: 30px;
    border: 1px solid gray;
    border-radius: 3px;
    color: rgb(240, 248, 255);
    max-width: 600px;
    margin-right: 5px;
    background-color: Transparent;
}
.loginScreen-input > form > input::placeholder{
    color: rgb(191, 189, 189);
    font-size: 15px;
}
.loginScreen-getStarted{
    padding: 16px 30px 20px;
    font-size: 1.4rem;
    letter-spacing: 1px;
    color: white;
    background-color: #e50914;
    border: none;
    font-weight: 530;
    cursor: pointer;
    border-radius: 3px;
    margin-left: 5px;
}
.loginScreen-getStarted:hover{
    background-color: #ae0811;
}
.st-hr{
    margin-top: 17.1%;
    border: 5px solid rgb(126, 118, 118);
    width: 103.4%;
    margin-left: -20px;
}
.second-slide{
    background-color: black;
    color: white;
    width: 103.4%;
    margin-left: -20px;
    height: 97vh;
}
.second-slide .left{
    float: left;
}
.second-slide .left h1{
    font-size: 55px;
    font-weight: 800;
    margin-left: 28px;
    flex-wrap: wrap;
    margin-top: 37%;
}
.second-slide .left p{
    margin-left: 40px;
    text-align: justify;
    flex-wrap: wrap;
    font-size: 21px;
    padding-top: 25px;
    font-weight: 450;
}
.second-slide .right{
    margin-left: 10%;
    padding-top: 7%;
}
.second-slide .right img{
    height: 50%;
    width: 50%;
}
.nd-hr{
    border: 5px solid rgb(126, 118, 118);
    width: 103.4%;
    margin-left: -20px;
    margin-top: -3%;
}
.third-slide{
    background-color: black;
    color: white;
    width: 103.4%;
    margin-left: -20px;
    height: 97vh;
}
.third-slide .left img{
    margin-top: 10%;
    margin-right: 45%;
    height: 50%;
    width: 45%;
}
.third-slide .right{
    margin-left: 35%;
}
.third-slide .right > h1{
    font-weight: 800;
    font-size: 50px;
    text-align: left;
    margin-top: -50%;
    margin-left: 30%;
    flex-wrap: nowrap;
}
.third-slide .right > p{
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    margin-left: 30%;
    flex-wrap: nowrap;
}
.fourth-slide{
    background-color: black;
    color: white;
    width: 103.4%;
    margin-left: -20px;
    height: 97vh;
}
.fourth-slide .left{
    float: left;
}
.fourth-slide .left h1{
    font-size: 55px;
    font-weight: 800;
    margin-left: 28px;
    flex-wrap: wrap;
    margin-top: 37%;
}
.fourth-slide .left p{
    margin-left: 40px;
    text-align: justify;
    flex-wrap: wrap;
    font-size: 21px;
    padding-top: 25px;
    font-weight: 450;
}
.fourth-slide .right{
    margin-left: 10%;
    padding-top: 7%;
}
.fourth-slide img{
    height: 50%;
    width: 50%;
}
.fifth-slide{
    background-color: black;
    color: white;
    width: 103.4%;
    margin-left: -20px;
    height: 97vh;
}
.fifth-slide .left img{
    margin-top: 10%;
    margin-right: 45%;
    height: 50%;
    width: 40%;
}
.fifth-slide .right{
    margin-left: 35%;
}
.fifth-slide .right > h1{
    font-weight: 800;
    font-size: 50px;
    text-align: left;
    margin-top: -43%;
    margin-left: 25%;
    flex-wrap: nowrap;
}
.fifth-slide .right > p{
    font-size: 23px;
    font-weight: 460;
    text-align: left;
    margin-left: 25%;
    flex-wrap: nowrap;
    margin-top: 10px;
}
.accordion-slide{
    background-color: black;
    color: white;
    width: 103.4%;
    margin-left: -20px;
    height: 140vh;
}
.accordion-slide > h1{
    font-size: 55px;
    font-weight: 700;
    padding-top: 70px;
    padding-bottom: 30px;
}
.ahs{
    background-color: rgb(62, 61, 61);
    color: white;
    font-size: 22px;
}
.rd-hr{
    border: 5px solid rgb(126, 118, 118);
    width: 103.4%;
    margin-left: -20px;
    margin-top: 0%;   
}
.footer{
    background-color: black;
    color: rgb(190, 183, 183);
    width: 103.4%;
    margin-left: -20px;
    height: 76vh;
    margin-top: -4%;
}
.footer h5{
    padding-top: 60px;
}
.footer > ul{
    list-style: none;
    display: inline-flex;
    flex-direction: column;
    align-items: start;
    column-gap: 20rem;
    margin-top: 30px;
}
.footer > p{
    padding-top: 8%;
    margin-right: 75%;
}
.footer  ul li{
    text-decoration-line: underline;
    text-decoration-color: gray;
    padding: 5px;
    font-size: 15px;
    cursor: pointer;
    color: gray;
}
.footer  ul li:hover{
    color: #e50914;
}
.footer .dropdown{
    background-color: black;
    margin-top: 20px;
    color: white;
    width: 45%;
    font-size: 13px;
    margin-left: -25%;
    border-color: rgb(79, 79, 79);
    font-size: 20px;
}
.footer button img{
    height: 28px;
    width: 28px;
    border: none;
    padding: 0%;
}
.footer button:hover{
    background-color: black;
}
.footer ul li{
    color: gray;
    text-decoration-color: gray;
}
.loginScreen-getStarted-2{
    padding: 16px 30px 20px;
    font-size: 1.4rem;
    letter-spacing: 1px;
    color: white;
    background-color: #e50914;
    border: none;
    font-weight: 530;
    cursor: pointer;
    border-radius: 3px;
    margin-left: 5px;
}
.loginScreen-getStarted-2:hover{
    background-color: #ae0811;
}
@media screen and (max-width: 480px) {
    .loginScreen{
        width: 450px;
    }
    .first-slide h1{
        font-size: 2.5rem;
        font-weight: 600;
    }
    .loginScreen-getStarted{
        margin-top: 10%;
    }
    .st-hr{
        margin-top: 13.9%;
        width: 110%;
    }
    .second-slide, .third-slide, .fourth-slide, .fifth-slide, .footer{
        width: 109.8%;
    }
    .footer{
        height: 150vh;
    }
    .accordion-slide{
        width: 108.5%;
        height: 150vh;
        margin-top: -3%;
    }
    .loginScreen-button{
        right: 100px;
    }
    .loginScreen-getStarted-2{
        margin-top: 8%;
    }
    .second-slide .left h1{
        font-size: 50px;
        font-weight: 500;
        margin-top: 20%;
        flex-basis: 100%;
    }
    .second-slide .left p{
        text-align: center;
        flex-wrap: wrap;
        font-weight: 450;
        font-size: 22px;
    }
    .second-slide .right img{
        width: 100%;
        height: 100%;
        margin-top: 20px;
    }
    .third-slide{
        margin-top: -14px;
        display: grid;
        grid-template-columns: 1fr;
    }
    .third-slide .left{
        margin-bottom: 50%;
        margin-top: 70%;
        margin-left: 22%;
        height: 45%;
    }
    .third-slide .left img{
        margin-top: 10%;
        height: 90%;
        width: 90%;
        margin-left: -9%;
    }
    .third-slide .right h1{
        margin-top: -270%;
        margin-left: -110px;
        display: block;
        font-weight: 500;
        font-size: 50px;
    }
    .third-slide .right p{
        margin-left: -100px;
        margin-top: 20px;
        font-size: 30px;
    }
    br{
        display: none;
    }
    .fourth-slide{
        margin-top: -10%;
    }
    .fourth-slide .left h1{
        font-size: 50px;
        font-weight: 500;
        flex-basis: 100%;
        margin-top: 20%;
        margin-left: 5px;
    }
    .fourth-slide .left p{
        text-align: center;
        flex-wrap: wrap;
        font-weight: 450;
        font-size: 22px;
    }
    .fourth-slide .right img{
        width: 100%;
        height: 150%;
        margin-top: 50px;
    }
    .fifth-slide{
        margin-top: -15px;
    }
    .fifth-slide{
        margin-top: -14px;
        display: grid;
        grid-template-columns: 1fr;
    }
    .fifth-slide .left{
        margin-bottom: 50%;
        margin-top: 70%;
        margin-left: 22%;
        height: 45%;
    }
    .fifth-slide .left img{
        margin-top: 10%;
        height: 90%;
        width: 90%;
        margin-left: -9%;
    }
    .fifth-slide .right h1{
        margin-top: -270%;
        margin-left: -110px;
        display: block;
        font-weight: 500;
        font-size: 50px;
    }
    .fifth-slide .right p{
        margin-left: -100px;
        margin-top: 20px;
        font-size: 25px;
    }
    .accordion-slide{
        margin-top: -15px;
        width: 109.8%;
        height: 140vh;
    }
    .accordion-slide .ahs{
        font-size: 20px;
    }
    .loginScreen-getStarted-2{
        margin-top: 10px;
    }
    .rd-hr{
        margin-top: -20px;
        width: 110%;
    }
    .footer{
        margin-top: -20px;
    }
    .footer p{
        display: inline-flex;
        flex-basis: 100%;
        font-size: 20px;
        font-weight: 200;
        width: 100%;
    }
    .footer .aa .dropdown p{
        margin-top: 50%;
    }
}